<link rel="stylesheet" href="./test.css" type="text/css" />

<article class="container">
	<div class="study-record">
		<h2 class="study-record__month">1月の学習内容</h2>
		<div>
			<ul class="study-record__list">
				<li class="study-record__item">
					<dl class="study-record__item-details">
						<div class="study-record__item-detail">
							<dt class="study-record__item-label">記録した時間:</dt>
							<dd class="study-record__item-value">2024-08-07</dd>
						</div>
						<div class="study-record__item-detail">
							<dt class="study-record__item-label">学習時間:</dt>
							<dd class="study-record__item-value">2時間</dd>
						</div>
						<div class="study-record__item-detail">
							<dt class="study-record__item-label">学習内容:</dt>
							<dd class="study-record__item-value">
								色々やったけど身になったものは<br />
								何もなかった。
							</dd>
						</div>
					</dl>
				</li>
				<!-- /.study-record__item -->
				<li class="study-record__item">
					<dl class="study-record__item-details">
						<div class="study-record__item-detail">
							<dt class="study-record__item-label">記録した時間:</dt>
							<dd class="study-record__item-value">2024-08-07</dd>
						</div>
						<div class="study-record__item-detail">
							<dt class="study-record__item-label">学習時間:</dt>
							<dd class="study-record__item-value">2時間</dd>
						</div>
						<div class="study-record__item-detail">
							<dt class="study-record__item-label">学習内容:</dt>
							<dd class="study-record__item-value">
								色々やったけど身になったものは<br />
								何もなかった。
							</dd>
						</div>
					</dl>
				</li>
				<!-- /.study-record__item -->
				<li class="study-record__item">
					<dl class="study-record__item-details">
						<div class="study-record__item-detail">
							<dt class="study-record__item-label">記録した時間:</dt>
							<dd class="study-record__item-value">2024-08-07</dd>
						</div>
						<div class="study-record__item-detail">
							<dt class="study-record__item-label">学習時間:</dt>
							<dd class="study-record__item-value">2時間</dd>
						</div>
						<div class="study-record__item-detail">
							<dt class="study-record__item-label">学習内容:</dt>
							<dd class="study-record__item-value">
								色々やったけど身になったものは<br />
								何もなかった。
							</dd>
						</div>
					</dl>
				</li>
				<!-- /.study-record__item -->
				<li class="study-record__item">
					<dl class="study-record__item-details">
						<div class="study-record__item-detail">
							<dt class="study-record__item-label">記録した時間:</dt>
							<dd class="study-record__item-value">2024-08-07</dd>
						</div>
						<div class="study-record__item-detail">
							<dt class="study-record__item-label">学習時間:</dt>
							<dd class="study-record__item-value">2時間</dd>
						</div>
						<div class="study-record__item-detail">
							<dt class="study-record__item-label">学習内容:</dt>
							<dd class="study-record__item-value">
								色々やったけど身になったものは<br />
								何もなかった。
							</dd>
						</div>
					</dl>
				</li>
				<!-- /.study-record__item -->
			</ul>
			<!-- /.study-record__list -->
		</div>
	</div>
	<!-- /.study-record -->
	<div class="study-record">
		<h2 class="study-record__month">2月の学習内容</h2>
		<div>
			<ul class="study-record__list">
				<li class="study-record__item">
					<dl class="study-record__item-details">
						<div class="study-record__item-detail">
							<dt class="study-record__item-label">記録した時間:</dt>
							<dd class="study-record__item-value">2024-08-07</dd>
						</div>
						<div class="study-record__item-detail">
							<dt class="study-record__item-label">学習時間:</dt>
							<dd class="study-record__item-value">2時間</dd>
						</div>
						<div class="study-record__item-detail">
							<dt class="study-record__item-label">学習内容:</dt>
							<dd class="study-record__item-value">
								色々やったけど身になったものは<br />
								何もなかった。
							</dd>
						</div>
					</dl>
				</li>
				<!-- /.study-record__item -->
				<li class="study-record__item">
					<dl class="study-record__item-details">
						<div class="study-record__item-detail">
							<dt class="study-record__item-label">記録した時間:</dt>
							<dd class="study-record__item-value">2024-08-07</dd>
						</div>
						<div class="study-record__item-detail">
							<dt class="study-record__item-label">学習時間:</dt>
							<dd class="study-record__item-value">2時間</dd>
						</div>
						<div class="study-record__item-detail">
							<dt class="study-record__item-label">学習内容:</dt>
							<dd class="study-record__item-value">
								色々やったけど身になったものは<br />
								何もなかった。
							</dd>
						</div>
					</dl>
				</li>
				<!-- /.study-record__item -->
				<li class="study-record__item">
					<dl class="study-record__item-details">
						<div class="study-record__item-detail">
							<dt class="study-record__item-label">記録した時間:</dt>
							<dd class="study-record__item-value">2024-08-07</dd>
						</div>
						<div class="study-record__item-detail">
							<dt class="study-record__item-label">学習時間:</dt>
							<dd class="study-record__item-value">2時間</dd>
						</div>
						<div class="study-record__item-detail">
							<dt class="study-record__item-label">学習内容:</dt>
							<dd class="study-record__item-value">
								色々やったけど身になったものは<br />
								何もなかった。
							</dd>
						</div>
					</dl>
				</li>
				<!-- /.study-record__item -->
				<li class="study-record__item">
					<dl class="study-record__item-details">
						<div class="study-record__item-detail">
							<dt class="study-record__item-label">記録した時間:</dt>
							<dd class="study-record__item-value">2024-08-07</dd>
						</div>
						<div class="study-record__item-detail">
							<dt class="study-record__item-label">学習時間:</dt>
							<dd class="study-record__item-value">2時間</dd>
						</div>
						<div class="study-record__item-detail">
							<dt class="study-record__item-label">学習内容:</dt>
							<dd class="study-record__item-value">
								色々やったけど身になったものは<br />
								何もなかった。
							</dd>
						</div>
					</dl>
				</li>
				<!-- /.study-record__item -->
			</ul>
			<!-- /.study-record__list -->
		</div>
	</div>
	<!-- /.study-record -->
</article>
