<link rel="stylesheet" href="./test.css" type="text/css" />
<div class="container">
	<article class="study-record">
		<h2 class="study-record__month">1月の学習内容</h2>
		<div>
			<ul class="study-record__list">
				<li class="study-item">
					<h3 class="study-item__title">勉強したこと</h3>
					<dl class="study-item__details">
						<div class="study-item__detail">
							<dt class="label">記録した時間:</dt>
							<dd>2024-08-07</dd>
						</div>
						<div class="study-item__detail">
							<dt class="label">学習時間:</dt>
							<dd>2時間</dd>
						</div>
						<div class="study-item__detail">
							<dt class="label">学習内容:</dt>
							<dd>
								色々やったけど身になったものは<br />
								何もなかった。
							</dd>
						</div>
					</dl>
				</li>
			</ul>
		</div>
	</article>
</div>
