body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.study-record {
    background-color: #f9f9f9;
    border-radius: 5rem;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    margin-bottom: 1rem;
    max-width: 440px;
    padding: 1rem;
    width: 100%;
}

.study-record__month {
    text-align: center;
}

.study-record__item {
    border-bottom: 1px solid black;
    text-decoration: none;
}
.study-record__item:last-child {
    border-bottom: 0;
}