<link rel="stylesheet" href="./test.css" type="text/css" />

<article class="container">
	<div class="study-record">
		<h2 class="study-record__month">2023年の学習内容</h2>
	</div>
	<div class="study-record">
		<h2 class="study-record__month">2024年の学習内容</h2>
		<div>
			<h2 class="study-record__month">1月の学習内容</h2>
			<div>
				<ul class="study-record__list">
					<li class="study-record__item">
						<dl class="study-record__item-details">
							<div class="study-record__item-detail">
								<dt class="study-record__item-label">記録した時間:</dt>
								<dd class="study-record__item-value">2024-08-07</dd>
							</div>
							<div class="study-record__item-detail">
								<dt class="study-record__item-label">学習時間:</dt>
								<dd class="study-record__item-value">2時間</dd>
							</div>
							<div class="study-record__item-detail">
								<dt class="study-record__item-label">学習内容:</dt>
								<dd class="study-record__item-value">
									色々やったけど身になったものは<br />
									何もなかった。
								</dd>
							</div>
						</dl>
					</li>
					<!-- /.study-record__item -->
					<li class="study-record__item">
						<dl class="study-record__item-details">
							<div class="study-record__item-detail">
								<dt class="study-record__item-label">記録した時間:</dt>
								<dd class="study-record__item-value">2024-08-07</dd>
							</div>
							<div class="study-record__item-detail">
								<dt class="study-record__item-label">学習時間:</dt>
								<dd class="study-record__item-value">2時間</dd>
							</div>
							<div class="study-record__item-detail">
								<dt class="study-record__item-label">学習内容:</dt>
								<dd class="study-record__item-value">
									色々やったけど身になったものは<br />
									何もなかった。
								</dd>
							</div>
						</dl>
					</li>
					<!-- /.study-record__item -->
					<li class="study-record__item">
						<dl class="study-record__item-details">
							<div class="study-record__item-detail">
								<dt class="study-record__item-label">記録した時間:</dt>
								<dd class="study-record__item-value">2024-08-07</dd>
							</div>
							<div class="study-record__item-detail">
								<dt class="study-record__item-label">学習時間:</dt>
								<dd class="study-record__item-value">2時間</dd>
							</div>
							<div class="study-record__item-detail">
								<dt class="study-record__item-label">学習内容:</dt>
								<dd class="study-record__item-value">
									色々やったけど身になったものは<br />
									何もなかった。
								</dd>
							</div>
						</dl>
					</li>
					<!-- /.study-record__item -->
					<li class="study-record__item">
						<dl class="study-record__item-details">
							<div class="study-record__item-detail">
								<dt class="study-record__item-label">記録した時間:</dt>
								<dd class="study-record__item-value">2024-08-07</dd>
							</div>
							<div class="study-record__item-detail">
								<dt class="study-record__item-label">学習時間:</dt>
								<dd class="study-record__item-value">2時間</dd>
							</div>
							<div class="study-record__item-detail">
								<dt class="study-record__item-label">学習内容:</dt>
								<dd class="study-record__item-value">
									色々やったけど身になったものは<br />
									何もなかった。
								</dd>
							</div>
						</dl>
					</li>
					<!-- /.study-record__item -->
				</ul>
				<!-- /.study-record__list -->
			</div>
		</div>
	</div>
	<!-- /.study-record -->
	<div class="study-record">
		<h2 class="study-record__month">2月の学習内容</h2>
	</div>
	<!-- /.study-record -->
	<div class="study-record">
		<h2 class="study-record__month">3月の学習内容</h2>
	</div>
	<div class="study-record">
		<h2 class="study-record__month">4月の学習内容</h2>
	</div>
	<div class="study-record">
		<h2 class="study-record__month">5月の学習内容</h2>
	</div>
	<div class="study-record">
		<h2 class="study-record__month">6月の学習内容</h2>
	</div>
	<div class="study-record">
		<h2 class="study-record__month">7月の学習内容</h2>
	</div>
	<div class="study-record">
		<h2 class="study-record__month">8月の学習内容</h2>
	</div>
	<div class="study-record">
		<h2 class="study-record__month">9月の学習内容</h2>
	</div>
	<div class="study-record">
		<h2 class="study-record__month">10月の学習内容</h2>
	</div>
	<div class="study-record">
		<h2 class="study-record__month">11月の学習内容</h2>
	</div>
	<div class="study-record">
		<h2 class="study-record__month">12月の学習内容</h2>
	</div>
</article>
